<section class="pt-5 welcome-section">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h2>Welcome to the Ghana Legal Information Institute</h2>
          <p class="h4 mt-4">
            GhaLII digitises and publishes the law of Ghana for free access to all, in partnership with the Judicial Service of Ghana.
          </p>
        </div>
        <div class="col-3 col-lg-2 offset-lg-1 text-center">
          <img src="/static/images/logo.91fb6d9eb632.png" class="img-fluid" alt="GhaLII logo" />
        </div>
      </div>
    </div>
  </section>
  
  <section class="mt-2">
    <div class="container">
      <div class="row justify-content-between align-items-center mt-5 mb-3">
        <div class="col-12 col-lg-6">
          <p class="lead">
            GhaLII is a non-profit organisation based in Accra that publishes digital parliamentary, legislative, and judicial information from Ghana and ECOWAS. GhaLII's objectives include promotion of access to legal information from Ghana as a fundamental part of the rule of law. GhaLII works in partnership with the Judicial Service of Ghana.
          </p>
          <div class="row align-items-center justify-content-between">
            <div class="d-flex justify-content-center mb-4 mb-md-0 d-md-block col-md mb-2">
              <a class="btn btn-primary" href="/about/#contact">Contact us</a>
            </div>
            <div class="d-flex justify-content-center mb-4 mb-md-0 d-md-block col-md-auto mb-2">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/ghanalii" target="_blank" rel="noreferrer">
                    <i class="h2 facebook-forecolor bi bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://twitter.com/africanlii" target="_blank" rel="noreferrer">
                    <i class="h2 twitter-x-forecolor bi bi-twitter-x"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="hero-logos row justify-content-center justify-content-lg-end">
            <img src="/static/images/logo.91fb6d9eb632.png" alt="ghalii logo" />
            <img src="/static/images/ejudgment-logo.3c828e72d48b.png" alt="e-judgment logo" />
            <img src="/static/images/africanlii-logo.241add47bbe2.svg" alt="africanlii logo" />
            <img src="/static/images/laws-africa-logo.7eb3d82d2bfc.png" alt="laws.africa logo" />
            <img src="/static/images/cooperation-logo-ger-ger-giz.c8d391235bc3.jpg" alt="GIZ logo" />
          </div>
        </div>
      </div>
    </div>
  </section>
  